body {
  background: #2e3440;
}

#content {
  display: grid;
  justify-content: center;
  align-content: center;

  gap: 10px;
  grid-auto-flow: row;
}

form {
  display: grid;
  justify-content: center;
  align-content: center;

  gap: 10px;
  grid-auto-flow: row;
  
  background: #4c566a;
  padding: 40px;
}

input[type='submit'] {
  border: 0;
  background: #5e81ac;
  padding: 16px;
  color: #eceff4;
  cursor: pointer;
}

label>div, p, code {
  color: #eceff4;
}

a {
  color: #81a1c1;
}
a:visited {
  color: #b48ead;
}

